__pycache__/
/input/
/outputs/
/outputs_b3_448_448_crackonly/
/outputs_b3_1024_768/
/outputs_b2_1152_768/
/outputs_b1_1568_1088_edmcrack/
/outputs_b1_1568_1088_crackseg/
/outputs_b1_1568_1088_crackseg_cosine/